<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa Ghi chú</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Chỉnh sửa Ghi chú</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Lưu Ghi chú</button>
    </form>

    <p><a href="{% url 'notes_list' %}">Quay lại danh sách ghi chú</a></p>
</body>
</html>
